extends ../components/__system/layout/default

include ../components/header/header
include ../components/content/content
include ../components/footer/footer

include ../components/about/about
include ../components/banner/banner
include ../components/features/features
include ../components/carousel/carousel

include ../components/logo/logo
include ../components/nav/nav
include ../components/burger-menu/burger-menu
include ../components/icon/icon
include ../components/socials/socials
include ../components/button/button
include ../components/title/title

include ../components/rooms-card/rooms-card
include ../components/comments-card/comments-card




block head
  include ../components/page/home-page/variables

block styles
  link(href='https://unpkg.com/swiper/swiper-bundle.min.css', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Rubik:wght@300;400;500;700&display=swap', rel='stylesheet')
  link(href='css/main.min.css', rel='stylesheet')


block body
  +header(page)
    +logo('header', path)
      +icon('/', 'logo', 'logo')
    +burger-menu('header')
    +nav('header', links)

  +content(page)
    +banner('content', banner)
      +button('link', banner.content.button)
    +features('content', 'Почему мы?', features)
    +carousel(carousel.rooms, carousel.togglers)
      - for (let room in rooms)
        +rooms-card('carousel', rooms[room].img, rooms[room].button)&attributes({ 'class': ' swiper-slide' })
          h3.rooms-card__headline= rooms[room].content.headline
          ul.rooms-card__list
            - for (let i in rooms[room].content.list)
              li.rooms-card__textline= rooms[room].content.list[i]
    +carousel(carousel.comments, carousel.togglers)
      - for (let comment in comments)
        +comments-card('carousel')&attributes({ 'class': ' swiper-slide' })
          +icon('/', 'comments-card', 'quotes')
          p.comments-card__textline= comments[comment].textContent
          span.comments-card__signature= comments[comment].author
          span.comments-card__signature= comments[comment].date
    +about('content', about)

  +footer(page)
    +logo('footer', path)
      +icon('/', 'logo', 'logo')
    +nav('footer', links)
    .footer__info
      .footer__copyright
        +icon('/', 'footer', 'copyright')
        = '2021 Все права защищены'
      a.footer__policy(href = '#') Политика безопасности


  script(src='https://unpkg.com/swiper/swiper-bundle.min.js')
  script(src='js/main.js')

