mixin banner(parent, { phone, tablet, desktop, content })
  article.banner(class = `${parent}__banner`)
    img.banner__img(src=`${desktop.path}/banner__img--${desktop.modifier}.${desktop.type}` alt=`${desktop.alt}`)
    .banner__content
      h2.banner__title= content.headline
      p.banner__textline= content.textline
      block
