mixin banner(parent, { phone, tablet, desktop, content })
  article.banner(class = `${parent}__banner`)
    picture
      source(srcset=`${phone.path}/banner__img--${phone.modificator}.${phone.type}`, media='(max-width: 320px)')
      source(srcset=`${tablet.path}/banner__img--${tablet.modificator}.${tablet.type}`, media='(min-width: 321px) and (max-width: 768px)')
      source(srcset=`${desktop.path}/banner__img--${desktop.modificator}.${desktop.type}`, media='(max-width: 769px)')
      img.banner__img(src=`${desktop.path}/banner__img--${desktop.modificator}.${desktop.type}` alt=`${desktop.alt}`)
    .banner__content
      h2.banner__title= content.headline
      p.banner__textline= content.textline
      block
